# node modules
node_modules
backend/private-key.pem
backend/public-key.pem
backend/keys/access-public-key.pem
backend/keys/access-private-key.pem
backend/keys/refresh-private-key.pem
backend/keys/refresh-public-key.pem
.env*
backend/src/modules/authentication/test/Utils.test.ts
backend/src/modules/authentication/utils/utils.ts
.vscode